*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #000430 ;
    --secondaryBackground: #171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto ;
    max-width: 500px;
}
.details{
    width: 100%;
}
.stats-container {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}
#progress{
    width: 2%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3 ease;
}
#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 15px;
}
input{
    flex: 1;
    padding: 15px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    color: var(--text);
}
button{
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    border: 0;
}
#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem{
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.taskItem img{
    width: 22px;
    height: 22px;
    margin: 0 10px;
    cursor: pointer;
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input{
    width: 20px;
    height: 20px;
}
.completed p{
    text-decoration: line-through;
    color: var(--teal);
}